@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

.container{
    font-family:'Poppins',sans-serif;
}
.card{
    margin: 10px;
}
.user{
    padding-right: 10px;
}
.card-body{
    align-items: center;
    justify-content: center;
}  
  .income-box {
    text-align: center;
    border: 1px solid #0d6efd;
    border-radius: 10px;
  }
  
  input[type="number"] {
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    font-size: 20px;
  }
  
  body {
    background: #f8f9fa;
    font-family: 'Segoe UI', sans-serif;
}
.navbar {
    background: white;
    border-bottom: 1px solid #ccc;
}
.user {
    margin: 0;
    font-weight: 500;
}
.card-title {
    font-weight: bold;
}
.btn-outline-primary p {
    margin: 0;
}
